<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="template/index.css">

    <script src="https://unpkg.com/htmx.org@1.9.11"
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/json-enc.js"></script>
</head>

<body>
    <div class="container">
        <div class="btn-div">
            <button id="weatherBtn" hx-get="/weather" hx-headers='{"Accept": "text/html"}' hx-target="#res">Weather</button>

            <div class="city-selection">
                <button id="weatherByCityBtn" hx-get="/weather" hx-vals="js:{city: document.getElementById('citySelect').value}" hx-headers='{"Accept": "text/html"}' hx-target="#res">Weather by City</button>
                <select id="citySelect">
                    <option value="kyiv">Kyiv</option>
                    <option value="vilnius">Vilnius</option>
                    <option value="riga">Riga</option>
                    <option value="tallinn">Tallinn</option>
                    <option value="sofia">Sofia</option>
                    <option value="minsk">Minsk</option>
                </select>
            </div>

            <button id="averageBtn" hx-get="/weather/average" hx-headers='{"Accept": "text/html"}' hx-target="#res">Average</button>
        </div>
    </div>

    <div class="response" id="res"></div>
</body>
</html>